{% extends "base-lyceum.html" %}

{% block header %}
<h1> Chapter 1 </h1>
{% endblock %}

{% block content %}
<div class="content-container", style="display: flex; align-items: center;">
    <form method="post" action="{{ url_for('lyceum.prev_text') }}" style="flex-shrink: 0;">
        <button type="submit" class="arrow-button-left"></button>
    </form>
    <p>
        {{ paragraph_content }}
    </p>
    <form method="post" action="{{ url_for('lyceum.next_text') }}" style="flex-shrink: 0;">
        <button type="submit" class="arrow-button"></button>
    </form>
</div>

{% endblock %}

{% block commentary %}
    <form id="commentaryForm", method="post" action="{{ url_for('lyceum.commentary')}}">
        <button type="submit">Submit Highlighted Text</button>
    </form>
    <div class="response-text">
        <p id="response-text"></p>
    </div>
    <script type="text/javascript">
        var isExecuted = false;
        document.getElementById('commentaryForm').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the form from submitting the traditional way
            if (!isExecuted) {
                isExecuted = true;
                var eventSource = new EventSource('/lyceum/commentary');
                eventSource.onmessage = function(event) {
                    var p = document.getElementById('response-text');
                    p.textContent += event.data;
                };
            };
        });
    </script>
{% endblock %}