{% extends "base-lyceum.html" %}

{% block header %}
<h1> Chapter 1 </h1>
{% endblock %}

{% block content %}
<div class="content-container", style="display: flex; align-items: center;">
    <form method="post" action="{{ url_for('lyceum.prev_text') }}" style="flex-shrink: 0;">
        <button type="submit" class="arrow-button-left"></button>
    </form>
    <p>
        {{ paragraph_content }}
    </p>
    <form method="post" action="{{ url_for('lyceum.next_text') }}" style="flex-shrink: 0;">
        <button type="submit" class="arrow-button"></button>
    </form>
</div>

{% endblock %}

{% block commentary %}
    <form id="commentaryForm", method="post">
        <input type="text" name="highlightedText" id="highlightedText" required>
        <button type="submit">Submit Highlighted Text</button>
    </form>
    <div class="response-text">
        <p id="response-text"></p>
    </div>
    <script type="text/javascript">
        // var isExecuted = false;
        document.getElementById('commentaryForm').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the form from submitting the traditional way
        // Send the data to the server using the Fetch API
            var highlightedText = document.getElementById('highlightedText').value;
            console.log('\n\nSubmitting fetch...')
            fetch("{{ url_for('lyceum.commentary') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'highlightedText=' + encodeURIComponent(highlightedText), // or use new URLSearchParams({highlightedText}).toString(),
            })
            console.log('\nfetch submitted')
            // .then(response => response.text())  // or response.json() if the server returns JSON
            // .then(data => {
            //     // Handle the server response here
            //     var p = document.getElementById('response-text');
            //     p.textContent = data;
            // })
            // .catch((error) => {
            //     console.error('Error:', error);
            // });
            var eventSource = new EventSource("{{ url_for('lyceum.commentary') }}");
            console.log('\nNew Event Source Instantiated')
            eventSource.onmessage = function(event) {
                var p = document.getElementById('response-text');
                p.textContent += event.data + ' ';  // Add each word to the paragraph
            };
    });
</script>

{% endblock %}