<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyceum</title>
    <link rel="stylesheet" href="../static/style-home.css">
</head>
<body>
    <div class="main-container">
        <img src="../static/images/Aristotle.png" alt="Description" class = "inline-image">

        <div class="container">
            <div class="header">
                <div class="orange-bar"></div>
                <h1>Lyceum</h1>
            </div>
            <div class="links">
                <a href="{{ url_for('lyceum.next_text') }}" class="link">Try It Out</a>
                <a href="#" class="link">Log in</a>
                <a href="#" class="link">Register</a>
            </div>
        </div>
    </div>
</body>
</html>