<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title>The Project Gutenberg eBook of Democracy in America, Part I. by Alexis de Tocqueville</title>

	<link rel="coverpage" href="images/cover.jpg" />

</head>

<body>

    <div class="chapter">
        <h1> Chapter 1 </h1>
        <h2> {% block header %}{% endblock %} </h2>

            <div class="content-container", style="display: flex; align-items: center;">
                <form method="post" action="{{ url_for('lyceum.prev_text') }}" style="flex-shrink: 0;">
                    <button type="submit" class="arrow-button-left"></button>
                </form>
                <p>
                {% block content %}{% endblock %}
                </p>
                <form method="post" action="{{ url_for('lyceum.next_text') }}" style="flex-shrink: 0;">
                    <button type="submit" class="arrow-button"></button>
                </form>
            </div>
    </div>