<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title>The Project Gutenberg eBook of Democracy in America, Part I. by Alexis de Tocqueville</title>
	<link rel="coverpage" href="images/cover.jpg" />
</head>


<nav>
    <h1>Lyceum</h1>
    <ul>
      {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </ul>
  </nav>

<body>
    <div class="chapter">
        <!-- <h1> Chapter 1 </h1> -->
        <h2> {% block header %}{% endblock %} </h2>
        {% block content %}{% endblock %}  
        {% block commentary %}{% endblock %}
    </div>