<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<title>The Project Gutenberg eBook of Democracy in America, Part I. by Alexis de Tocqueville</title>

	<link rel="coverpage" href="images/cover.jpg" />

</head>

<body>

    <div class="chapter">

        <h2> Introductory Chapter</h2>

        <p>
            Amongst the novel objects that attracted my attention during my stay in the
            United States, nothing struck me more forcibly than the general equality of
            conditions. I readily discovered the prodigious influence which this primary
            fact exercises on the whole course of society, by giving a certain direction to
            public opinion, and a certain tenor to the laws; by imparting new maxims to the
            governing powers, and peculiar habits to the governed. I speedily perceived
            that the influence of this fact extends far beyond the political character and
            the laws of the country, and that it has no less empire over civil society than
            over the Government; it creates opinions, engenders sentiments, suggests the
            ordinary practices of life, and modifies whatever it does not produce. The more
            I advanced in the study of American society, the more I perceived that the
            equality of conditions is the fundamental fact from which all others seem to be
            derived, and the central point at which all my observations constantly
            terminated.
        </p>