<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyceum</title>
    <link rel="stylesheet" href="../static/style-selection.css">
</head>

<body>
    <div class="main-container">
        <div class="book">
            <img src="../static/images/History_of_decline_and_fall.jpg" alt="Description" class = "inline-image">
            History of the Decline and Fall of the Roman Empire
        </div>

        <div class="book">
            <img src="../static/images/the-republic.jpg" alt="Description" class="inline-image">
            The Republic
        </div>
    </div>
</body>